SDW_REST_URL=https://example-sdx-url
SDW_API_KEY=<API_KEY>
DOCKER_HOST_IP=127.0.0.1
DOCKER_SHARED_VOLUME=./shared
POSTGRES_DB_HOSTNAME=postgres
POSTGRES_DB_NAME=postgres
POSTGRES_USER=username
POSTGRES_PASSWORD=password
MONGO_USER=username
MONGO_PASSWORD=password
RSU_ROUTES="route1, route2"